.navbar-container {
    background-color: #8568FF;
    /* full width */
  width: 100%;

  background-color: #8568ff;
  /* flex box */
  display: flex;
}

.navbar-items{
    flex-grow: 1;
    justify-content: space-between;
    
}

ul li{
    display:inline;
    padding: 10px;
   
}
.links{
    text-decoration: none;
    color: #101750;
}
.logo{
    text-decoration: none;
    font-size: 34px;

    margin-right: 95px
}
.logo span{
    color: white;
}

.search-icon {
    background-color: white;
    height: 1em;
    width: 1em;
    padding: 0.25rem;
    border-radius: 10% 0 0 10% ;
}

.search-text {
    padding:0;
    border:0;

}
.input{
    /* background: url("../../../public/assets/Vector.png") no-repeat scroll 7px 7px; */
    padding-left:30px;  
    display: flex;
    height: 1.5rem;
    flex-direction: row;
    margin-top: 25px;
  
    
}