ul li{
    display:inline;
    padding: 10px; 
}
.links{
    text-decoration: none;
    color: #101750;
}
.links.active {
    color: white;
}
.logo{
    text-decoration: none;
    font-size: 38px;
}
.logo span{
    color: white;
}
.search-icon {
    background-color: white;
    height: 1em;
    width: 1em;
    padding: 0.25rem;
    border-radius: 10% 0 0 10% ;
}
.search-text {
    padding:0;
    border:0;
}
.input{
    display: flex;
    height: 1.5rem;
    flex-direction: row; 
}
.navbar-items{
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
 
} 
.navbar-container {
  background-color: #8568ff;
  display: flex;
  align-items: center;
}

