.footer-container{
background-color: #0D0E43;
padding: 10px 10px 0px 10px;
bottom: 0;
width: 100%; 
display: flex;
justify-content: flex-start;
}

.logo-footer span{
    color: white;
}

.logo-footer{
    font-size: 34px;
justify-content: left;
    margin-right: 95px;
    color: #8568FF;;
   
}
.links-footer{
    text-decoration: none;
    color:#8A8FB9;
}
.categories-colum{
    color:white;
    font-size: 14px;
    margin-right: 120px;
    margin-left: 120px;
    

}
.my-account{
    color:white;
    font-size: 14px;
    margin-right: 120px;
    margin-left: 120px;
    
}

.Follow-us{
    color:white;
    font-size: 14px;
    margin-left: 140px;
    
}
.list-products{
    display: grid;
}

