.fallow-icon{
    text-align:left;
}
.logo-footer span{
    color: white;
}

.logo-footer{
    font-size: 34px;
justify-content: left;
    margin-right: 95px;
    color: #8568FF;;
}
.links-footer{
    text-decoration: none;
    color:#8A8FB9;
}
.categories-colum{
    color:white;
    font-size: 14px;
    text-align: center;
}
.my-account{
    color:white;
    font-size: 14px;
}

.Follow-us{
    color:white;
    font-size: 14px;
   
}
.list-products{
    display: grid;
    text-align: left;
}
.footer-container{
    background-color: #0D0E43;
    position: fixed;
    bottom: 0;
    width: 100%; 
    max-height: 250px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    }

